services:
  pricing-tf:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    env_file: .env
    environment:
      - DATABASE_URL=postgres://postgres:example@postgres:5432/pricing_tf
