volumes:
  pg_data:

services:
  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: pricing_tf
    volumes:
      - pg_data:/var/lib/postgresql/data
